<header>
    <hgroup>
    <h1>cyOverflow</h1>
    </hgroup>
</header>
<div class="content">
    <section id="userInput">
	    <div id="loginView">
	        <label for="userName" id="logInPrompt">Your name:</label>
	        <input id="userName" type="text"/>
	        <a id="logIn" class="button">That's me!</a>
	    </div>
	    <div id="newQuestionView" class="hidden">
	        <label for="newQuestion" id="questionPrompt"><span id="asker">Adventurer</span> wants to know...</label>
	        <textarea cols=20 rows=2 id="newQuestion" name="newQuestion"></textarea>
	        <a id="addItem" class="button">Ask now!</a>
	    </div>
	</section>
	<ul id="questions"></ul>
 
	<script type="text/template" id="question-template">
		<div class="voteStatus">
		    <a class="vote voteup"></a>
		    <div class="votecount"><%= tally %></div>
		    <a class="vote votedown"></a>
		</div>
		<div class="questionText">
		    <p><%- text %></p>
      		<div class="questionAuthor">From: <%- userName %></div>
		</div>
	</script>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-1.0.0-rc1.js"></script>
    <script src="signalr/hubs" type="text/javascript"></script>
    @Scripts.Render("~/bundles/app")
}
